{template '_headerv2'}

<link href="{MODULE_URL}template/mobile/style/cssv2/topic-discussion.css?v={$versions}" rel="stylesheet" />
<script src="{MODULE_URL}template/mobile/style/jsv2/ajaxfileupload.js?v={$versions}"></script>

<div class="header-2 cbox">
    <a href="javascript:history.go(-1);" class="ico go-back"></a>
    <div class="flex title">话题讨论</div>
</div>

<div class="content-inner" style="min-height:100%; padding-bottom: 50px;">
    <span class="title-box">{$discuss['title']}</span>
    <div class="shared-vidio">
        {if $discuss['videourl']}
        <video src="{$discuss['videourl']}" controls>当前系统不支持video</video>
        {/if}
        <span class="detail-box">{php echo htmlspecialchars_decode($discuss['content'])}</span>
        <!--
        <div class="shareing-box">
            <span class="tip-text">参与话题讨论可获得积分，积分在购买课程时可抵消费用</span>
            <div class="shared-btn">
                分享：
                <img src="{MODULE_URL}template/mobile/images/wx.png">
                <img src="{MODULE_URL}template/mobile/images/qq.png">
                <img src="{MODULE_URL}template/mobile/images/circle-friends.png">
                <img src="{MODULE_URL}template/mobile/images/micro-blog.png">
            </div>
        </div>
        -->
    </div>
    <div class="discuss-box">
        <div class="discuss-box">
            <span class="totel-box">{$count}个讨论</span>
            {loop $list $row}
            <div class="discuss-one">
                <div class="info-box">
                    <img src="{$row['avatar']}">
                    <span class="name-text">{$row['nickname']}</span>
                    <span class="time-text">{php echo date('Y-m-d H:i:s', $row['addtime'])}</span>
                </div>
                <span class="remark-box">{$row['content']}</span>
                <div class="images-list">
                    {if $row['images']}
                    {loop $row['images'] $img}
                    <img src="../attachment/{$img}">
                    {/if}
                    {/loop}
                </div>
            </div>
            {/loop}
        </div>
    </div>
    <button class="comment-box"><img src="{MODULE_URL}template/mobile/images/info-icon.png">发表评论</button>
</div>

<div class="mask-box" style="display: none;"></div>
<!--
<div class="dialog-bottom" style="display: none;">
    <div class="discuss-input" data-id="0">
        <div class="line-box">
            <span>发表评论</span>
            <img class="close-img" src="{MODULE_URL}template/mobile/images/close.png" alt="">
        </div>
        <textarea type="text" id='content' placeholder="说点什么~"></textarea>
        <div class="line-box border-style">
            <span>晒图（最多5张）</span>
            <img class="add-img" src="../../images/add-img.png" alt="">
        </div>
        <label id="submit-btn" class="publish-btn">发表</label>
    </div>
</div>
-->

<div class="bottom-dialog" style="display: none;">
    <div class="dialog-title">
        <span>发表评论</span>
        <img class="close-img" src="{MODULE_URL}template/mobile/images/close.png" alt="">
    </div>
    <div class="dialog-content" data-id="0">
        <textarea id='content' class="content" placeholder="说点什么～"></textarea>
        <div class="line">
            <div class="pic">
                晒图(最多5张)
                <div class="plus" style="position:relative">
                    <i class="fa fa-plus" style="position:absolute;"></i>
                    <input type="file" name='imgFile0' id='imgFile0' class="plus-file" />
                </div>
                <div class="images"></div>
            </div>
        </div>
        <label id="submit-btn" class="publish-btn">发表</label>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var cid = "{$discuss['id']}";

    $('.close-img').click(function () {
        $('.bottom-dialog').hide();
        $('.mask-box').hide();
    });

    $('.comment-box').click(function () {
        $('.bottom-dialog').show();
        $('.mask-box').show();
    });
    $('.plus input').change(function () {
        var comment = $(this).closest('.dialog-content');
        var id = comment.data('id');
        getImage(id);
    });

    function getImage(id) {
        var comment = $('.plus input').closest('.dialog-content');
        var url = "{php echo $this->createMobileUrl('discuss', array('op'=>'uploader'))}&file=imgFile" + id;
        var obj = $('#imgFile' + id);
        $.ajaxFileUpload({
            url: url,
            secureuri: false,
            fileElementId: 'imgFile'+ id,
            dataType: 'json',
            success:function (res,status) {
                var html = "<div class='img' data-img='" + res.filename + "'>";
                html += " <img src='" + res.url + "' />";
                html += "<div class='minus'><i class='fa fa-minus-circle'></i></div>";
                html += "</div>";
                $('.images',comment).append(html);
                var img = $(html,comment).data('img');
                $('.minus').off('click');
                $('.minus', comment).on('click', function () {
                    var minus = $(this);
                    $.get(
                        "{php echo $this->createMobileUrl('discuss', array('op'=>'remove'))}",
                        {file: minus.parent().data('img')},
                        function (t) {
                            if(t == 1){
                                minus.parent().remove();
                                $('.plus',comment).show();
                            }
                        }
                    );
                });

                /*
                $('.minus', comment).on('click',function () {
                    var minus = $(this);
                    $.get(
                        "{php echo $this->createMobileUrl('discuss', array('op'=>'remove'))}",
                        {file: _obj.data("img")},
                        function (t) {
                            if(t == 1){
                                minus.parent().remove();
                                $('.plus',comment).show();
                            }
                        }
                    );
                });
                */

                if ($('.img',comment).length >= 5) {
                    $('.plus',comment).hide();
                }

            },
            complete:function () {
                obj.replaceWith('<input type="file" name="imgFile' + id + '" id="imgFile' + id + '" class="plus-file" />');
                $('#imgFile' + id).on('change', function () {
                    getImage(id);
                });
            },
            error:function (res,status,e) {
                alert("上传失败");
            }
        });
    }

    /*
    $('.plus input').unbind('change').on('change',function () {
        var comment = $(this).closest('.dialog-content');
        var id = comment.data('id');
        var url = "{php echo $this->createMobileUrl('discuss', array('op'=>'uploader'))}&file=imgFile" + id;
        var obj = $(this);
        $.ajaxFileUpload({
            url: url,
            secureuri: false,
            fileElementId: 'imgFile'+ id,
            dataType: 'json',
            success:function (res,status) {
                var html = "<div class='img' data-img='" + res.filename + "'>";
                html += " <img src='" + res.url + "' />";
                html += "<div class='minus'><i class='fa fa-minus-circle'></i></div>";
                html += "</div>";
                $('.images',comment).append(html);
                $('.minus',comment).unbind('click').on('click', function () {
                    $.get(
                        "{php echo $this->createMobileUrl('discuss', array('op'=>'remove'))}",
                        {file: $(html).data("img")},
                        function (t) {
                            if(t == 1){
                                $(html).remove();
                                $('.plus',comment).show();
                            }
                        }
                    );
                });

                if ($('.img',comment).length >= 5) {
                    $('.plus',comment).hide();
                }

            },
            complete:function () {
                obj.replaceWith('<input type="file" name="imgFile0" id="imgFile0" class="plus-file" />');
            },
            error:function (res,status,e) {
                alert("上传失败");
            }
        });
    });
    */

    $('#submit-btn').click(function () {
        if ($(this).attr('saving') == '1') {
            return;
        }
        if($.trim( $("#content").val() )==''){
            alert('你不说点什么～');
            $('#content').focus();
            return;
        }
        $(this).html('正在处理...').attr('saving', 1);
        var c0 = $('.dialog-content[data-id=0]');
        var cimages = [];
        c0.find(".img").each(function(){
            cimages.push($(this).data('img'));
        });
        var content = c0.find('textarea').val();
        var comments = [];
        comments.push({id:$(this).data('id'),content:content,images:cimages});

        $.ajax({
            url: "{php echo $this->createMobileUrl('discuss')}",
            data: {'op':'save','cid':cid, 'comments':comments},
            method:'POST',
            dataType:'json',
            success:function (res) {
                if(res == 1){
                    location.reload();
                }
            }
        });
    });
});
</script>
{template '_footerv2'}