<!--
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com；
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！已购买用户允许对程序代码进行修改和使用，但是不允许对
 * 程序代码以任何形式任何目的的再发布，作者将保留追究法律责任的权力和最终解
 * 释权。
 * ============================================================================
-->
{template '_headerv2'}
<link href="{MODULE_URL}template/mobile/style/cssv2/evaludate.css?v={$versions}" rel="stylesheet" />
<link href="{MODULE_URL}template/mobile/style/sweetalert/sweetalert.css?v={$versions}" rel="stylesheet" />
<script type="text/javascript" src="{MODULE_URL}template/mobile/style/sweetalert/sweetalert.min.js?v={$versions}"></script>

<div class="header-2 cbox">
	<a href="javascript:history.go(-1);" class="ico go-back"></a>
	<div class="flex title">{$title}</div>
</div>

<div class="contaniner fixed-cont">
	<form id="submit_form" method="post" onsubmit="return checksubmit();">
		<div class="discuss-box">
			<div class="box-one">
				<img class="box-left" src="{$_W[attachurl]}{$order['images']}">
				<div class="box-right">
					<div class="top-right_box"><span class="top-text">{$order['bookname']}</span></div>
					<span class="bottom-text">价格：<span class="width-small">¥ {$order['price']}</span></span>
				</div>
			</div>
			<div class="label-boxs">
				<label id="ocm-h" onclick="selectedgrade(1)"><img src="{MODULE_URL}template/mobile/images/good-discuss.png" alt=""> 好评</label>
				<label id="ocm-z" onclick="selectedgrade(2)"><img src="{MODULE_URL}template/mobile/images/medium-discuss.png" alt=""> 中评</label>
				<label id="ocm-c" onclick="selectedgrade(3)"><img src="{MODULE_URL}template/mobile/images/bad-discuss.png" alt=""> 差评</label>
				<input type="hidden" name="grade" id="grade" value="">
			</div>
			<textarea type="text" placeholder="请输入评价内容" name="content"></textarea>
			<input type="submit" name="submit" value="提交评论" class="comment-box" />
			<input type="hidden" name="orderid" value="{$orderid}">
			<input type="hidden" name="token" value="{$_W['token']}">
		</div>
	</form>
</div>

<footer>
    <a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
</footer>

<script type="text/javascript">
function checksubmit(){
	var grade = $("#grade").val();
	if(grade==''){
		swal("", "请对我们的服务评分", "error");
		return false;
	}

	document.getElementById("submit_form").submit();
}


function selectedgrade(obj){
    if(obj=='1'){
	    $("#ocm-h").addClass('selected');
		$("#ocm-z").removeClass('selected');
		$("#ocm-c").removeClass('selected');
	}else if(obj=='2'){
	    $("#ocm-h").removeClass('selected');
		$("#ocm-z").addClass('selected');
		$("#ocm-c").removeClass('selected');
	}else if(obj=='3'){
	    $("#ocm-h").removeClass('selected');
		$("#ocm-z").removeClass('selected');
		$("#ocm-c").addClass('selected');
	}
	document.getElementById("grade").value = obj;
}
</script>

{template '_footerv2'}
