<!-- 
 * 微课堂首页
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
-->
{template '_headerv2'}
<script src="{MODULE_URL}template/mobile/style/jsv2/BreakingNews.js?v={$versions}"></script>
<link href="{MODULE_URL}template/mobile/style/cssv2/imooc-home.css?v={$versions}" rel="stylesheet" />
<script type="text/javascript">
$(function() {
	$('#breakingnews').BreakingNews({
		title: '<img src="{MODULE_URL}template/mobile/images/ico-inform.png" style="width:32px;margin-top:4px;">',
		titlebgcolor: '#ffffff',
		linkhovercolor: '#099',
		border: '1px solid #f3f3f3',
		timer: 5000,
		effect: 'slide'
	});
});
</script>

{if $setting['isfollow']>0 && $fans['follow']==0 && $userAgent}
<div class="follow_topbar">
	<div class="headimg">
		<img src="{$_W['attachurl']}{$setting['qrcode']}">
	</div>
	<div class="info">
		<div class="i">{$_W['account']['name']}</div>
		<div class="i">{$setting['follow_word']}</div>
	</div>
	<div class="sub" onclick="location.href='{php echo $this->createMobileUrl('follow');}'">立即关注</div>
	<!-- <div class="sub" id="js-go-follow">立即关注</div> -->
</div>
<div style='height:44px;'>&nbsp;</div>
{/if}


<div class="container">
	<div class="search-box">
		<div class='search-placeholder'>
			<input type="text" id="searchInput" class="search_input z-abled" style="border:none;" value="" autocorrect="off" placeholder="输入课程名称进行查找">
		</div>
	</div>

	{if !empty($banner)}
	<div class="swiper-box">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{loop $banner $item}
				<div class="swiper-slide">
					<a href="{$item['link']}"><img class="slide-image" src="{$_W['attachurl']}{$item['picture']}" alt=""></a>
				</div>
				{/loop}
			</div>
		</div>
	</div>
	{/if}

	<div class="convenient-btn">
		<a class="convenient-href" href="{php echo $this->createMobileUrl('science');}">
			<label class="label-box">
				<img class="convenient-img" src="{MODULE_URL}template/mobile/images/vidio.png">
				<span class="label-span">科普短片</span>
			</label>
		</a>
		<a class="convenient-href" href="{php echo $this->createMobileUrl('article', array('op'=>'list'));}">
			<label class="label-box">
				<img class="convenient-img" src="{MODULE_URL}template/mobile/images/off-line-activity.png">
				<span class="label-span">线下活动</span>
			</label>
		</a>
		<a class="convenient-href" href="{php echo $this->createMobileUrl('vip');}">
			<label class="label-box">
				<img class="convenient-img" src="{MODULE_URL}template/mobile/images/define-navigation.png">
				<span class="label-span">VIP会员</span>
			</label>
		</a>
		<a class="convenient-href" href="{php echo $this->createMobileUrl('search', array('op' => 'allcategory'));}">
			<label class="label-box">
				<img class="convenient-img" src="{MODULE_URL}template/mobile/images/course-classification.png">
				<span class="label-span">课程分类</span>
			</label>
		</a>
	</div>

	<!-- 公告 -->
	{if !empty($articlelist) && is_array($articlelist)}
	<div class="notice-line">
		<div class="icon-box">
			<img class="notice-img" src="{MODULE_URL}template/mobile/images/notice.png">
		</div>
		<div class="notice-swiper">
			<div class="swiper-container1">
				<div class="swiper-wrapper">
					{loop $articlelist $article}
					<div class="swiper-slide"><a href="{php echo $this->createMobileUrl('article', array('op'=>'display','aid'=>$article['id']));}">[{php echo date('m-d',$article['addtime']);}]{$article['title']}</a></div>
					{/loop}
				</div>
			</div>
		</div>
		<div class="more-btn" onclick="location.href='{php echo $this->createMobileUrl('article', array('op'=>'list'));}'">更多
			<img class="box-img" src="{MODULE_URL}template/mobile/images/right-arrow.png">
		</div>
	</div>
	{/if}

	<!-- 最新课程 -->
	{if $setting['show_newlesson'] && $newlesson}
	<div class="classification-list" style="margin-top: 1.125rem;">
		<div class="box-title">
			<span class="box-top"><img class="left-img" src="{MODULE_URL}template/mobile/images/latest-recommendation.png" alt=""> 最新推荐<img class="right-img" src="{MODULE_URL}template/mobile/images/star.png" alt=""></span>
			<a href="{php echo $this->createMobileUrl('search', array('ico' => 'new'))}">
				<div class="more-btn">更多
					<img class="box-img" src="{MODULE_URL}template/mobile/images/right-arrow.png">
				</div>
			</a>
		</div>
		<!--课程列表  -->
		<div class="list-box">
			{loop $newlesson $item}
			<a href="{php echo $this->createMobileUrl('lesson', array('id'=>$item['id']));}">
				<div class="box-one">
					<img class="box-left" src="{$_W['attachurl']}{$item['images']}">
					<div class="box-right">
						<span class="top-span">{$item['bookname']}</span>
						<label class="middle-label">{$item['difficulty']}</label>
						<span class="bottom-span">{php echo $item['price']>0?'¥'.$item['price']:'免费';} <span class="already-study"><img src="{MODULE_URL}template/mobile/images/person-study.png" alt="">{if $item['price']>0}{php echo $item['buynum']+$item['virtual_buynum'];}{else}{php echo $item['buynum']+$item['virtual_buynum']+$item['visit_number'];}{/if}人已学习</span></span>
					</div>
				</div>
			</a>
			{/loop}
		</div>
	</div>
	{/if}

	<!-- 热门好课 -->
	{if !empty($hotlesson)}
	<div class="classification-list">
		<div class="box-title">
			<span class="box-top"><img class="left-img" src="{MODULE_URL}template/mobile/images/ropular-lessons.png" alt="">热门好课<img class="right-img" src="{MODULE_URL}template/mobile/images/star.png" alt=""></span>
			<a href="{php echo $this->createMobileUrl('search', array('ico' => 'hot'))}">
				<div class="more-btn">更多
					<img class="box-img" src="{MODULE_URL}template/mobile/images/right-arrow.png">
				</div>
			</a>
		</div>
		<!--课程列表  -->
		<div class="list-box">
			{loop $hotlesson $item}
			<a href="{php echo $this->createMobileUrl('lesson', array('id'=>$item['id']));}">
				<div class="box-one">
					<img class="box-left" src="{$_W['attachurl']}{$item['images']}">
					<div class="box-right">
						<span class="top-span">{$item['bookname']}</span>
						{if !empty($item['difficulty'])}
						<label class="middle-label">{$item['difficulty']}</label>
						{/if}
						<span class="bottom-span">{php echo $item['price']>0?'¥'.$item['price']:'免费';} <span class="already-study"><img src="{MODULE_URL}template/mobile/images/person-study.png" alt="">{if $item['price']>0}{php echo $item['buynum']+$item['virtual_buynum'];}{else}{php echo $item['buynum']+$item['virtual_buynum']+$item['visit_number'];}{/if}人已学习</span></span>
					</div>
				</div>
			</a>
			{/loop}
		</div>
	</div>
	{/if}

	<!--一起买更划算  -->
	{if !empty($meanwhile_banner)}
	<div class="classification-list distance-bottom">
		<div class="box-title">
			<span class="box-top"><img class="left-img" src="{MODULE_URL}template/mobile/images/shopping-cart.png" alt="">一起买更划算<img class="right-img" src="{MODULE_URL}template/mobile/images/star.png" alt=""></span>
			<a href="{php echo $this->createMobileUrl('meanwhile', array('op' => 'list'))}">
				<div class="more-btn">更多
					<img class="box-img" src="{MODULE_URL}template/mobile/images/right-arrow.png">
				</div>
			</a>
		</div>
		<!--购买列表  -->
		{loop $meanwhile_banner $meanwhile}
		<div class="one-box">
			<a href="{if empty($meanwhile['buystatus'])}{php echo $this->createMobileUrl('meanwhiledetail', array('id' => $meanwhile['meanwhile']['id']));}{/if}">
				<img class="classification-img" src="{$_W['attachurl']}{$meanwhile['meanwhile']['thumb']}" alt="">
			</a>
			<div class="sale-line">
				<div class="line-left">
					<span class="now-price">¥{$meanwhile['meanwhile']['price']}</span>
					<span class="original-price">原价 ¥{$meanwhile['meanwhile']['markprice']}</span>
				</div>
				{if $meanwhile['buystatus']==1}
				<label class="line-right" style="background: #ccc;">已购买</label>
				{else}
				<label class="line-right" onclick="location.href='{php echo $this->createMobileUrl('meanwhiledetail', array('id' => $meanwhile['meanwhile']['id']));}'">立即购买</label>
				{/if}
			</div>
		</div>
		{/loop}
	</div>
	{/if}

	{if !empty($config['index_slogan'])}
	<div class="slogan_wrap">
		<div class="slogan_bd" style="background-image:url({$_W['attachurl']}{$config['index_slogan']});"></div>
	</div>
	{/if}

</div>

<!-- 绑定手机号码 -->
{if $setting['modify_mobile']==2 && $uid>0 && empty($member['mobile'])}
<div id="modify_mobile_shade" style="background-color:rgba(0,0,0,0.7); position:fixed; width:100%; height:100%; top:0; z-index:100000000;"></div>
<div class="login_wrap" id="modify_mobile_div" style="position:absolute; width:90%; height:100%; margin:0 5%; top:80px; z-index:100000001;">
	<form method="post" onsubmit="return checknum();">
		<div class="weui_cells weui_cells_form" style="border-radius:10px; padding-bottom:20px;">
			<h3 style="padding:15px 0; text-align:center; font-size:18px;">手机号码注册</h3>
			{if !in_array('verify_mobile', $index_verify)}
			<a href="javascript:;" onclick="closeBox();" style="width:20px;height:20px;color:#aaa;position:absolute;right:15px;top:17px;"><i class="fa fa-close fa-lg"></i></a>
			{/if}
			<div class="weui_cell">
				<div class="weui_cell_hd"><label class="weui_label" for="registerform-mobile">手机号码</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input type="tel" class="weui_input" name="mobile" placeholder="请输入手机号码">
				</div>
			</div>
			<div class="weui_cell check_code">
				<div class="weui_cell_hd">
					<label class="weui_label">验证码</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input type="tel" class="weui_input" name="verify_code" placeholder="请输入验证码">
				</div>
				<div class="weui_cell_ft">
					<a href="javascript:;" id="weui_btn_send" onclick="sendcode()">获取验证码</a>
				</div>
			</div>
			{if in_array('password', $index_verify)}
			<div class="weui_cell">
				<div class="weui_cell_hd"><label class="weui_label" for="registerform-mobile">登录密码</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input type="password" class="weui_input" name="pwd1" placeholder="设置登录密码">
				</div>
			</div>
			<div class="weui_cell">
				<div class="weui_cell_hd"><label class="weui_label" for="registerform-mobile">重复密码</label></div>
				<div class="weui_cell_bd weui_cell_primary">
					<input type="password" class="weui_input" name="pwd2" placeholder="重复登录密码">
				</div>
			</div>
			{/if}
			<div class="weui_btn_area">
				<input type="hidden" name="token" value="{$_W['token']}" />
				<input type="submit" name="modify_mobile" class="weui_btn weui_btn_primary" value="提交">
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
document.getElementById("modify_mobile_div").style.height = document.getElementById("weui_tab_div").offsetHeight + "px";

function checknum(){
	var mobile   = $("input[name=mobile]").val();
	var myreg = /^((1)+\d{10})$/;
	if(mobile==''){
		alert("请输入手机号码");
		return false;
	}else if(!myreg.test(mobile)) {
		alert('您输入的手机号码有误');
		return false;
	}

	<?php if(in_array('password', $index_verify)){ ?>
	if($("input[name=verify_code]").val()==''){
		alert("请输入短信验证码");
		return false;
	}
	if($("input[name=pwd1]").val()==''){
		alert("请输入登录密码");
		return false;
	}
	if($("input[name=pwd1]").val() != $("input[name=pwd2]").val()){
		alert("两次密码不一致");
		return false;
	}
	<?php } ?>

	document.getElementById("spinners").style.display = 'block';
}

var countdown = 60;
function sendcode() {
	var result = checkMobile();
	if(!result){
		return;
	}
	if ($('#weui_btn_send').hasClass('has_send')) {
		return false;
	}

	var mobile = $('input[name="mobile"]').val();
	$.ajax({
		type:"post",
		dataType:"json",
		url: "{php echo $this->createMobileUrl('sendcode');}",
		data: {mobile:mobile},
		success: function (data) {
			if(data.code==0){
				settime($("#weui_btn_send"));
			}else{
				alert(data.msg);
			}
		},
		error: function(e){
		}
	});
	
}
function settime(obj) { //发送验证码倒计时
	if(countdown == 0) {
		$('#weui_btn_send').removeClass('has_send').text('重新发送');
		countdown = 60;
		return;
	} else {
		$('#weui_btn_send').addClass('has_send').text('重新获取(' + countdown + ')');
		countdown--;
	}
	setTimeout(function() {
		settime(obj)
	}, 1000)
}
//校验手机号是否合法
function checkMobile() {
	var mobile = $('input[name="mobile"]').val();
	var myreg = /^((1)+\d{10})$/;
	if(!myreg.test(mobile)) {
		alert('请输入有效的手机号码');
		return false;
	} else {
		return true;
	}
}
function closeBox(){
	$("#modify_mobile_shade").hide();
	$("#modify_mobile_div").hide();
}
</script>
{/if}
<!-- /绑定手机号码 -->

<footer>
    <a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
</footer>

<div id="spinners" style="display:none;"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>

{php echo register_jssdk(false);}
<script type="text/javascript">
wx.ready(function(){
	var shareData = {
		title: "{$sharelink['title']}",
		desc: "{$sharelink['desc']}",
		link: "{php echo $shareurl;}",
		imgUrl: "{php echo $_W['attachurl'];}{$sharelink['images']}",
		trigger: function (res) {},
		complete: function (res) {},
		success: function (res) {},
		cancel: function (res) {},
		fail: function (res) {}
	};
	wx.onMenuShareTimeline(shareData);
	wx.onMenuShareAppMessage(shareData);
	wx.onMenuShareQQ(shareData);
	wx.onMenuShareWeibo(shareData);
	wx.onMenuShareQZone(shareData);
});

var search = function() {
    var keywords = $.trim($("#searchInput").val());
    if (keywords == '') {
        searchUrl = '{php echo $this->createMobileUrl("search");}';
    } else {
        searchUrl = '{php echo $this->createMobileUrl("search");}&keyword=' + encodeURIComponent(keywords);
    }
    document.location.href = searchUrl;
    return false;
};
$("#searchInput").keydown(function(event) {
	if (event.keyCode == 13) {
		search();
	}
});
$("#search_btn").on("click", function(){
	search();
});

new Swiper('.item-list', {
	slidesPerView: 'auto',
	spaceBetween: 10,
})

document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
	var miniprogram_environment = false;
	wx.miniProgram.getEnv(function(res) {
		if(res.miniprogram) {
			miniprogram_environment = true;
		}
	})
	if(window.__wxjs_environment === 'miniprogram' || miniprogram_environment) {
		$(".follow_topbar").hide();
		{if $setting['isfollow']>0 && $fans['follow']==0 && $userAgent}
			document.getElementById("weui_tab_div").style.cssText = "margin-top:-48px;";
		{/if}
		/*
		$("#js-go-follow").click(function(){
			wx.miniProgram.navigateTo({
				url: "/fy_lessonv2/pages/follow/index"
			})
		});
		*/
	}else{
		/*
		$("#js-go-follow").click(function(){
			location.href="{php echo $this->createMobileUrl('follow');}";
		});
		*/
	}
});
</script>

{template '_footerv2'}