{template '_headerv2'}

<div class="header">
    <div class="info-box">
        <img class="header-image" src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2022913879,2521037350&fm=200&gp=0.jpg">
        <span class="name-box">Anatta</span>
        <div class="right-box">
            <div class="information-box">
                <img src="../../images/information.png">
                <label class="num-box">8</label>
            </div>
            <span class="already-num">已学6门课程</span>
        </div>
    </div>
</div>

<!-- 便捷入口 -->
<div class="convenient-btn">
    <label class="label-box">
        <img class="convenient-image" src="../../images/recharge.png">
        <span class="label-text">充值</span>
    </label>
    <label class="label-box middle-border">
        <img class="convenient-image" src="../../images/balance.png">
        <span class="label-text">余额 <span class="gery-box">128元</span></span>
    </label>
    <label class="label-box">
        <img class="convenient-image" src="../../images/integral.png">
        <span class="label-text">积分 <span class="gery-box">68</span></span>
    </label>
</div>

<div class="line-list">
    <div class="line-box" bindtap="goPurchasedCourses">
        <img class="left-icon" src="../../images/already-purchased.png">
        <span>已购买课程</span>
        <img class="right-icon" src="../../images/right.png">
    </div>
    <div class="line-box" bindtap="goPartakeDiscuss">
        <img class="left-icon" src="../../images/participate-discussion.png">
        <span>我参与的讨论</span>
        <img class="right-icon" src="../../images/right.png">
    </div>
    <div class="line-box" bindtap="goMySharing">
        <img class="left-icon" src="../../images/my-sharing.png">
        <span>我的分享</span>
        <img class="right-icon" src="../../images/right.png">
    </div>
    <div class="line-box">
        <img class="left-icon" src="../../images/set-up.png">
        <span>设置</span>
        <img class="right-icon" src="../../images/right.png">
    </div>
</div>

<div class="line-box top-distance">
    <img class="left-icon" src="../../images/share-icon.png">
    <span>分享给朋友</span>
    <img class="right-icon" src="../../images/right.png">
</div>

{template '_footerv2'}