{template '_headerv2'}

<link href="{MODULE_URL}template/mobile/style/cssv2/chapter-test.css?v={$versions}" rel="stylesheet" />
<div class="content-inner" style="min-height:100%;">
    <div class="question-box">
        <span class="question-num">{$page}选择题</span>
        {if $praxis['audiourl']}
        <label class="read-btn">
            <img class="notice-image" src="{MODULE_URL}template/mobile/images/notice-white.png">点击读题</label>
            <audio id="audio" src="http://www.bmt58.com/ddd.mp3">系统不支持 audio</audio>
        </label>
        {/if}
        <span class="question-text">{php echo htmlspecialchars_decode($praxis['subject'])}</span>
        {if $praxis['voideurl']}
        <video src="http://wxsnsdy.tc.qq.com/105/20210/snsdyvideodownload?filekey=30280201010421301f0201690402534804102ca905ce620b1241b726bc41dcff44e00204012882540400&bizid=1023&hy=SH&fileparam=302c020101042530230204136ffd93020457e3c4ff02024ef202031e8d7f02030f42400204045a320a0201000400" controls></video>
        {/if}
    </div>

    <!-- 答案 -->
    <div class="answer-select">
        {if $praxis['answer_a']}
        <div data-correct="A" class="answer-one">
            <span>A:</span>
            <label></label>
        </div>
        {/if}
        {if $praxis['answer_b']}
        <div data-correct="B" class="answer-one">
            <span>B:</span>
            <label></label>
        </div>
        {/if}
        {if $praxis['answer_c']}
        <div data-correct="C" class="answer-one">
            <span>C:</span>
            <label></label>
        </div>
        {/if}
        {if $praxis['answer_d']}
        <div data-correct="D" class="answer-one">
            <span>D:</span>
            <label></label>
        </div>
        {/if}
        <button class="submit-btn">提交</button>
    </div>
</div>

<div class="bottom-dialog" style="display: none;">
    <span class="tip-title">{$praxis['correct_mark']}</span>
    <div class="tip-correct">
        <img src="../../images/correct.png" alt="">
        <span>正确，继续下一节</span>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    $('.read-btn').click(function (e) {
        var aduio = $('#audio')[0];
        if(aduio.paused){
            aduio.play();
        }else{
            aduio.pause();
        }
    });

    $('.answer-one').click(function () {
        var lab = $(this).children('label');
        $('.answer-one').removeClass('trues').find('label').removeClass('select-circle');
        lab.addClass('select-circle');
        $(this).addClass('trues');
    });

    $('.submit-btn').click(function () {
        var correct = '{$praxis["correct"]}';
        correct = correct.toLocaleLowerCase();

        var answer = '';
        $('.answer-one').each(function () {
            var lab = $(this).children('label');
            if(lab.getClass() == 'select-circle'){
                answer = lab.data('correct');
                answer.toLocaleLowerCase();
            }
        });

        if(answer == '' || answer != correct){
            $('.bottom-dialog').addClass('warn-color');
            $('.bottom-dialog').find('img').attr('src','')
            $('.bottom-dialog').show();

        }
    });
});
</script>

{template '_footerv2'}