<!-- 
 * 微课堂首页
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: https://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
-->
{template '_headerv2'}

{if $op=='display'}
<link href="{MODULE_URL}template/mobile/style/cssv2/all-category.css?v={$versions}" rel="stylesheet" />
<link href="{MODULE_URL}template/mobile/style/cssv2/lession-list.css?v={$versions}" rel="stylesheet" />

<div class="container">
	<div class="header">
		<div class="search-box">
			<div class="search-placeholder">
				<input type="search" id="searchInput" autocorrect="off" value="{$_GPC['keyword']}"  placeholder="搜索课程" />
			</div>
		</div>
	</div>
	<!-- 筛选条件 -->
	<div class="tab-nav">
		<label id="zonghe">综合排序<img src="{MODULE_URL}template/mobile/images/down-arrow.png" alt="">
			<span></span></label>
		<label onclick="location.href='{php echo $this->createMobileUrl('search', array('op'=>'allcategory'));}">全部分类<img src="{MODULE_URL}template/mobile/images/down-arrow.png" alt=""></label>
	</div>
	<div class="select-list" style="display: none">
		<div class="select-one {if empty($sort)}select-bg{/if}" onclick="goSearch('')"><img class="icon-img" src="{MODULE_URL}template/mobile/images/total.png" alt=""><span>综合排序{if empty($sort)}<img class="star-img" src="{MODULE_URL}template/mobile/images/star-white.png" alt="">{/if}</span></div>
		<div class="select-one {if $sort=='free'}select-bg{/if}" onclick="goSearch('free')"><img class="icon-img" src="{MODULE_URL}template/mobile/images/free.png" alt=""><span>免费课程{if $sort=='free'}<img class="star-img" src="{MODULE_URL}template/mobile/images/star-white.png" alt="">{/if}</span></div>
		<div class="select-one {if $sort=='price'}select-bg{/if}" onclick="goSearch('price')"><img class="icon-img" src="{MODULE_URL}template/mobile/images/price.png" alt=""><span>价格优先{if $sort=='price'}<img class="star-img" src="{MODULE_URL}template/mobile/images/star-white.png" alt="">{/if}</span></div>
		<div class="select-one {if $sort=='hot'}select-bg{/if}" onclick="goSearch('hot')"><img class="icon-img" src="{MODULE_URL}template/mobile/images/popularity.png" alt=""> <span>人气优先{if $sort=='hot'}<img class="star-img" src="{MODULE_URL}template/mobile/images/star-white.png" alt="">{/if}</span></div>
		<div class="select-one {if $sort=='score'}select-bg{/if}" onclick="goSearch('score')"><img class="icon-img" src="{MODULE_URL}template/mobile/images/praise.png" alt=""> <span>好评优先{if $sort=='score'}<img class="star-img" src="{MODULE_URL}template/mobile/images/star-white.png" alt="">{/if}</span></div>
	</div>
	<input type="hidden" id="sort" value="0"/>
	<!-- /筛选条件 -->

	<!-- 课程列表 -->
	<div class="classification-list">
		<div id="list-box"></div>
		<div class="no-data">
			<img src="{MODULE_URL}template/mobile/images/no-data.png" alt="">
			<span>没有找到任何课程</span>
		</div>
		<div id="loading_div" class="loading_div">
			<a href="javascript:void(0);" id="btn_Page"><i class="fa fa-arrow-circle-down"></i> 加载更多</a>
		</div>
	</div>
	<!-- /课程列表 -->

	<footer>
		<a href="{php echo $this->createMobileUrl('index', array('t'=>1));}">{$setting['copyright']}</a>
	</footer>
</div>

<!-- 遮罩层 -->
<div id="sort_background" class="mask-box"></div>
<!-- /遮罩层 -->
<div id="loading" style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:999999999;"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>

<script type="text/javascript">
$("#zonghe").on("click", function(){
	var sort = $("#sort").val();
	if(sort==0){
		$("#sort").val(1);
		$('#zonghe').addClass('select-span').find('img').attr('src', '{MODULE_URL}template/mobile/images/up-arrow.png');
		$('select-list').show();
		$('#sort_background').show();
	}else{
		$("#sort").val(0);
		$('#zonghe').removeClass('select-span').find('img').attr('src', '{MODULE_URL}template/mobile/images/down-arrow.png');
		$('select-list').hide();
		$('#sort_background').hide();
	}
});
$("#sort_background").on("click", function(){
	$("#sort").val(0);
	$('#zonghe').removeClass('select-span').find('img').attr('src', '{MODULE_URL}template/mobile/images/down-arrow.png');
	$('select-list').hide();
	$('#sort_background').hide();
});

function goSearch(sort){
	var siteUrl = "{php echo $_W['siteurl'];}";
	if(sort=='free'){
		siteUrl = siteUrl + "&sort=free";
	}else if(sort=='price'){
		siteUrl = siteUrl + "&sort=price";
	}else if(sort=='hot'){
		siteUrl = siteUrl + "&sort=hot";
	}else if(sort=='score'){
		siteUrl = siteUrl + "&sort=score";
	}else{
		siteUrl = siteUrl + "&sort=";
	}
	
	location.href = siteUrl;
}

var search = function() {
    var keywords = $.trim($("#searchInput").val());
    if (keywords == '') {
        searchUrl = '{php echo $this->createMobileUrl("search");}';
    } else {
        searchUrl = '{php echo $this->createMobileUrl("search");}&keyword=' + encodeURIComponent(keywords);
    }
    document.location.href = searchUrl;
    return false;
};
$("#searchInput").keydown(function(event) {
	if (event.keyCode == 13) {
		search();
	}
});
$("#search_btn").on("click", function(){
	search();
});
</script>
<script type="text/javascript">
var ajaxUrl   = "{php echo $_W['siteUrl'];}";
var attachUrl = "{php echo $_W['attachurl'];}";
var lessonUrl = "{php echo $this->createMobileUrl('lesson');}";
var modelUrl = "{MODULE_URL}";
$(function () {
	var nowPage = 1; //设置当前页数，全局变量
    function getData(page) {
		nowPage++;
        $.get(ajaxUrl, {page: page}, function (data) {  
            if (data.length > 0) {
            	loading.style.display = 'none';
                var jsonObj = JSON.parse(data);
                if(jsonObj.length == 0 && page == 1){
                    $('.my_empty').show();
				}else{
                    insertDiv(jsonObj);
				}
            }
        });  
    } 
    //初始化加载第一页数据  
    getData(1);

    //生成数据html,append到div中  
    function insertDiv(result) {  
        var mainDiv =$("#list-box");
        var chtml = '';  
        for (var j = 0; j < result.length; j++) {
            var num = parseInt(result[j].buynum) + parseInt(result[j].virtual_buynum);
            if(result[j].price == 0){
                num += parseInt(result[j].visit_number);
            }

            chtml += '<a href="' + lessonUrl + '&id=' + result[j].id + '">';
            chtml += '	<div class="box-one">';
            chtml += '		<img class="box-left" src="' + attachUrl + result[j].images + '">';
            chtml += '		<div class="box-right">';
            chtml += '			<div class="top-right_box">';
            chtml += '				<span class="top-text">' + result[j].bookname + '</span>';
            chtml += '				<span class="middle-span">';
            if(result[j].difficulty != ''){
                chtml += '				<div class="middle-label">' + result[j].difficulty + '</div>';
			}
            if(result[j].score>0){
                chtml += '				<div class="middle-label blue">' + result[j].score_rate + '%好评</div>';
			}
			chtml += '				</span>';
            chtml += '			</div>';
            chtml += '			<div class="bottom-span">';
            if(result[j].price > 0){
                chtml += '¥' + result[j].price;
			}else{
                chtml += '免费';
			}
			chtml += '				<span class="already-study"><img src="' + modelUrl + 'template/mobile/images/person-study.png">' + num + '人已学习</span>';
            chtml += '			</div>';
            chtml += '		</div>';
            chtml += '	</div>';
            chtml += '</a>';
        }
		mainDiv.append(chtml);
		if(result.length==0){
			document.getElementById("loading_div").innerHTML='<div class="loading_bd">没有了，已经到底了</div>';
		}
    }  
  
    //==============核心代码=============
	var msg_list_loading = false;
	$('.classification-list').on('scroll', function(){
		if (!msg_list_loading){
			load_more_msg();
		}
	})
	function load_more_msg(){     
		var msg_list = $('.classification-list');
		if (msg_list.height() + msg_list[0].scrollTop >= msg_list[0].scrollHeight) {
			msg_list_loading = true;
			$("#btn_Page").hide();
			getData(nowPage);
			msg_list_loading = false;
		}
		$("#btn_Page").show();
	}

    //继续加载按钮事件
    $("#btn_Page").click(function () {
    	loading.style.display = 'block';
        getData(nowPage);
    });
  
});
</script>

{elseif $op=='allcategory'}
<link href="{MODULE_URL}template/mobile/style/cssv2/all-category.css?v={$versions}" rel="stylesheet" />
<div class="header">
	<div class="search-box">
		<div class="search-placeholder">
			<input type="search" id="keyword" placeholder="搜索课程" />
		</div>
	</div>
</div>

<span class="title-box">{$title}</span>

<div class="category-list">
	{loop $categorylist $key $item}
		<a href="{php echo $item['link'] ? $item['link'] : $this->createMobileUrl('search', array('cat_id'=>$item['id']));}">
		<div class="category-one bg-{$key}">
			<img class="category-image" src="{$_W['attachurl']}{$item['ico']}">
			<span class="title-name">{$item['name']}</span>
			<span class="number-box">{$item['nums']}节课程</span>
		</div>
		</a>
	{/loop}
</div>

<script type="text/javascript">
    var search = function() {
        var keywords = $.trim($("#keyword").val());
        if (keywords == '') {
            searchUrl = '{php echo $this->createMobileUrl("search");}';
        } else {
            searchUrl = '{php echo $this->createMobileUrl("search");}&keyword=' + encodeURIComponent(keywords);
        }
        document.location.href = searchUrl;
        return false;
    };
    $("#keyword").keydown(function(event) {
        if (event.keyCode == 13) {
            search();
        }
    });
</script>

{/if}

{template '_footerv2'}