<!--
 * 登录操作
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: http://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
 * ============================================================================
-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>欢迎使用微课堂讲师平台</title>  
    <link rel="stylesheet" href="{MODULE_URL}template/mobile/css/pintuer.css">
    <link rel="stylesheet" href="{MODULE_URL}template/mobile/css/admin.css">
    <script src="{MODULE_URL}template/mobile/js/jquery.js"></script>   
    <script src="{MODULE_URL}template/mobile/js/pintuer.js"></script>  
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height:150px;"></div>
            <div class="media media-y margin-big-bottom">           
            </div>         
            <form action="{php echo $this->createMobileUrl('login');}" method="post">
            <div class="panel loginbox">
                <div class="text-center margin-big padding-big-top"><h1>讲师管理平台</h1></div>
                <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input input-big" name="account" placeholder="登录账号" data-validate="required:请填写账号" />
                            <span class="icon icon-user margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input input-big" name="password" placeholder="登录密码" data-validate="required:请填写密码" />
                            <span class="icon icon-key margin-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input input-big" name="code" placeholder="填写右侧的验证码" data-validate="required:请填写右侧的验证码" />
                           <img id="imgverify" src="{php echo $this->createMobileUrl('code');}" alt="" width="140" height="32" class="passcode" style="height:43px;cursor:pointer;" onclick="getCode()">
                        </div>
                    </div>
                </div>
                <div style="padding:30px;">
					<input type="hidden" name="token" value="{$_W['token']}" />
					<input type="submit" name="submit" class="button button-block bg-main text-big input-big" value="登录">
				</div>
            </div>
            </form>          
        </div>
    </div>
</div>
<script type="text/javascript">
function getCode(){
	$('#imgverify').prop('src', '{php echo $this->createMobileUrl("code");}&r='+Math.round(new Date().getTime()));
	return false;
}
</script>
</body>
</html>