<!--
 * 腾讯云点播
 * ============================================================================
 * 版权所有 2015-2018 微课堂团队，并保留所有权利。
 * 网站地址: http://wx.haoshu888.com
 * ----------------------------------------------------------------------------
 * 这不是一个自由软件！不允许对程序代码以任何形式任何目的的再发布，作者将保留
 * 追究法律责任的权力和最终解释权。
 * ============================================================================
-->

{template '_header'}

{if $op=='display'}
<script type="text/javascript" src="{MODULE_URL}template/mobile/ZeroClipboard/ZeroClipboard.js"></script>
<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 视频管理</strong></div>
    <div class="padding border-bottom">
        <form action="./index.php" method="get">
			<input type="hidden" name="i" value="{$uniacid}">
            <input type="hidden" name="c" value="entry">
            <input type="hidden" name="m" value="fy_teacher">
            <input type="hidden" name="do" value="qcloudvod">
            <input type="hidden" name="op" value="display">
            <ul class="search" style="padding-left:10px;">
                <li> <a class="button border-green icon-plus-square-o" href="{php echo $this->createMobileUrl('qcloudvod', array('op'=>'upload'));}"> 上传视频</a> </li>
				<li>
                    <input type="text" placeholder="文件名" name="keyword" class="input" style="width:200px; line-height:17px; display:inline-block; margin-left:20px;" value="{$_GPC['keyword']}">
                </li>
				<button type="submit" class="button border-main icon-search"> 搜 索 </button>
            </ul>
        </form>
    </div>
    <table class="table table-hover text-center">
        <tr>
            <th style="width:15%;">预览</th>
            <th style="width:20%;">文件名称</th>       
            <th style="width:10%;">文件大小</th>
            <th style="width:15%;">上传时间</th>
            <th style="width:30%;">VideoId</th>       
        </tr>
			{loop $list $key $item}
			<tr>
				<td>
					<a href="{php echo $this->createMobileUrl('qcloudvod', array('op'=>'preview','id'=>$item['id']));}"><img src="{MODULE_URL}template/mobile/images/videoCover.png?v=1" width="180"/></a>
				<td>{$item['name']}</td>
				<td>{$item['size']} MB</td>
				<td>{php echo date('Y-m-d H:i:s', $item['addtime'])}</td>       
				<td>
					<textarea class="input" id="content{$key}" style="overflow-y:auto;">{$item['videoid']}</textarea>
					<button id="copyId{$key}" onclick="copy(this.id)" class="copy-button" data-clipboard-target="content{$key}">复制链接</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button onclick="delFile({$item['id']})" class="copy-button" style="border-color:#ff0505;">删除文件</button>
				</td>
			</tr>
			<script type="text/javascript">
			var clip = new ZeroClipboard(document.getElementById("copyId{$key}"), {
				moviePath: "{MODULE_URL}template/mobile/ZeroClipboard/ZeroClipboard.swf"
			});
			clip.on('complete', function(client, args) {
				alert("复制成功");
			});
			</script>
			{/loop}
        <tr>
            <td colspan="8">
               {$pager}
			</td>
        </tr>
    </table>
</div>
<script type="text/javascript">
document.body.onselectstart=document.body.oncontextmenu=function(){ return false;}
function videoContro(obj, type){
	var myvideo = document.getElementById(obj.id);
	if(document.getElementById(obj.id).paused){
		document.getElementById(obj.id).play();
	}else{
		document.getElementById(obj.id).pause();
	}	
}
function delFile(id){
	if(!confirm('该操作不可恢复，确定删除该文件?')){
		return false;
	}
	location.href="{php echo $this->createMobileUrl('qcloudvod', array('op'=>'delVideo'));}" + "&id=" + id;
}
</script>

{elseif $op=='upload'}
<link href="{MODULE_URL}template/mobile/css/uploadVideo.css?v={$versions}" rel="stylesheet">

<div class="mloading-bar" style="margin-top: -31px; margin-left: -140px;"><img src="{MODULE_URL}template/mobile/images/download.gif"><span id="mloading-text">文件上传中，请勿刷新或关闭浏览器...</span></div>
<div id="overlay" style="height: 100%; width: 100%; opacity: 0.2;"></div>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 上传视频</strong></div>
    <div class="body-content">
		<div class="body-content">
			<form id="form1">
				<input id="uploadVideoNow-file" type="file" accept="video/*,audio/mp3" style="display:none;">
				<input type="hidden" id="file_size" value="0">
			</form>
			<div class="form-group">
				<div class="field">
					<input type="button" class="button bg-main icon-check-square-o" id="uploadVideoNow" value="上传视频">
					<span class="help-block">
						<br/>
						<br/>
						1、当前系统上传单个文件限制为{$config['upload_max']}MB；
						<br/>
						2、点播主要支持视频格式，mp3文件上传后会被自动转码为mp4。选择文件后，系统将自动开始上传，上传过程请勿刷新浏览器，否则将导致文件上传失败。
					</span>
				</div>
			</div>
			<div class="row" id="resultBox"></div>
		</div>
    </div>
</div>

<script src="//imgcache.qq.com/open/qcloud/js/vod/sdk/ugcUploader.js"></script>
<script type="text/javascript">
var index = 0;
var cosBox = [];

/** 
 * 计算签名
**/
var getSignature = function(callback){
	$.ajax({
		url: "{php echo $this->createMobileUrl('qcloudvod', array('op'=>'getUploadInfo'));}",
		type: 'POST',
		dataType: 'json',
		success: function(res){
			if(res && res.signature) {
				callback(res.signature);
			} else {
				return '获取签名失败';
			}
		}
	});
};

/**
 * 添加上传信息模块
 */
var addUploaderMsgBox = function(type){
	var html = '<div class="uploaderMsgBox" name="box'+index+'">';
	if(!type || type == 'hasVideo') {
		html += '视频名称：<span name="videoname'+index+'"></span><br/>' + 
			'计算sha进度：<span name="videosha'+index+'">0%</span><br/>' + 
			'上传进度：<span name="videocurr'+index+'">0%</span><br/>' + 
			'videoId：<span name="videofileId'+index+'">   </span><br/>' + 
			'上传结果：<span name="videoresult'+index+'">   </span><br/><br>';
	}
	
	if(!type || type == 'hasCover') {
		html += '封面名称：<span name="covername'+index+'"></span>；' + 
		'计算sha进度：<span name="coversha'+index+'">0%</span>；' + 
		'上传进度：<span name="covercurr'+index+'">0%</span>；' + 
		'上传结果：<span name="coverresult'+index+'">   </span>；<br>' + 
		'地址：<span name="coverurl'+index+'">   </span>；<br>' + 
		'</div>'
	}
	html += '</div>';
	
	$('#resultBox').append(html);
	return index++;
};

/** 
 * 直接上传视频
**/
$('#uploadVideoNow-file').on('change', function (e) {
	var file = e.target.files[0];
	var file_size = parseFloat((file.size/1024)/1024).toFixed(2);
	$("#file_size").val(file_size);

	var maxUploadSize = "<?php echo $config['upload_max'] ?>";
	if (maxUploadSize>0 && file.size > maxUploadSize * 1024 * 1024) {
		alert("上传错误：当前系统限制最大上传文件 " + maxUploadSize + "MB");
		return;
	}

	showOverlay();

	var num = addUploaderMsgBox('hasVideo');
	var videoFile = this.files[0];
	$('#result').append(videoFile.name +　'\n');
	var resultMsg = qcVideo.ugcUploader.start({
		videoFile: videoFile,
		getSignature: getSignature,
		allowAudio: 1,
		success: function(result){
			if(result.type == 'video') {
				$('[name=videoresult'+num+']').text('上传成功');
				$('[name=cancel'+num+']').remove();
				cosBox[num] = null;
			} else if (result.type == 'cover') {
				$('[name=coverresult'+num+']').text('上传成功');
			}
			hideOverlay();
		},
		error: function(result){
			$('.uploaderMsgBox').append('<br>上传失败，原因：'+result.msg);
			hideOverlay();
		},
		progress: function(result){
			if(result.type == 'video') {
				$('[name=videoname'+num+']').text(result.name);
				$('[name=videosha'+num+']').text(Math.floor(result.shacurr*100)+'%');
				$('[name=videocurr'+num+']').text(Math.floor(result.curr*100)+'%');
				$('[name=cancel'+num+']').attr('taskId', result.taskId);
				cosBox[num] = result.cos;
			} else if (result.type == 'cover') {
				$('[name=covername'+num+']').text(result.name);
				$('[name=coversha'+num+']').text(Math.floor(result.shacurr*100)+'%');
				$('[name=covercurr'+num+']').text(Math.floor(result.curr*100)+'%');
			}
			
		},
		finish: function(result){
			$('[name=videofileId'+num+']').text(result.fileId);
			$('[name=videourl'+num+']').text(result.videoUrl);
			if(result.message) {
				$('[name=videofileId'+num+']').text(result.message);
			}
			hideOverlay();
			saveVideo(result);
		}
	});
	if(resultMsg){
		$('[name=box'+num+']').text(resultMsg);
	}
	$('#form1')[0].reset();
});

$('#uploadVideoNow').on('click', function () {
	$('#uploadVideoNow-file').click();
});

function saveVideo(result){
	$.ajax({
		url:"<?php echo $this->createMobileUrl('qcloudvod', array('op'=>'saveVideo')); ?>",
		data:{
			filename: result.videoName,
			videourl: result.videoUrl,
			videoid: result.fileId,
			size: $("#file_size").val()
		},
		type:'POST',
		dataType:'json',
		success:function(msg){
		}
	});
}

function showOverlay(){
	$(".mloading-bar").show();
	$("#overlay").show();
}
function hideOverlay(){
	$(".mloading-bar").hide();
	$("#overlay").hide();
}

</script>

{elseif $op=='preview'}
<style type="text/css">
.tcplayer{margin:0 auto;}
</style>
<link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
<script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>

<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 预览视频</strong></div>
    <div class="body-content">
		<div class="body-content">
			<video id="player-container-id" width="640" height="400" preload="auto" playsinline webkit-playsinline></video>
		</div>
		
    </div>
</div>

<script type="text/javascript">
	var player = TCPlayer('player-container-id', {
		fileID: "<?php echo $file['videoid']; ?>",
		appID : "<?php echo $qcloudvod['appid']; ?>",
		t	  : "<?php echo $res['t']; ?>",
		us	  : "<?php echo $res['us']; ?>",
		sign  : "<?php echo $res['sign']; ?>",
		exper : "",
	});
</script>

{/if}

{template '_footer'}