<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">讨论信息</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">当前课程</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" value="{$lesson['bookname']}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">当前章节</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" value="{$section['title']}" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">标题</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$discuss['title']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">讨论内容</label>
                    <div class="col-sm-9">
                        {php echo tpl_ueditor('content', $discuss['content']);}
                        <div class="help-block">请填写讨论内容</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">视频</label>
                    <div class="col-sm-9">
                        <textarea id="audiourl" name="videourl" class="form-control" style="min-height:100px;">{$discuss['videourl']}</textarea>
                        <div class="help-block">
                            请填写视频url地址，请用mp4格式
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">开启奖励</label>
                    <div class="col-sm-9">
                        <label class="radio-inline"><input type="radio" name="is_credit" value="1" {if $discuss['is_credit'] == 1}checked{/if} /> 获取积分</label>
                        <label class="radio-inline"><input type="radio" name="is_credit" value="2" {if $discuss['is_credit'] == 2}checked{/if} /> 获取余额</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">奖励值</label>
                    <div class="col-sm-9">
                        <input type="text" name="credit" class="form-control" value="{$discuss['credit']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-9" style="margin-top: -3px;">
                        <label class="radio-inline"><input type="radio" name="status" value="0" {if empty($discuss['status'])}checked{/if} /> 关闭</label>
                        <label class="radio-inline"><input type="radio" name="status" value="1" {if $discuss['status'] == 1}checked{/if} /> 启用</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="displayorder" class="form-control" value="{$discuss['displayorder']}" />
                    </div>
                </div>
                <div class="form-group col-sm-12">
                    <input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
                    <input type="hidden" name="token" value="{$_W['token']}" />
                    <input type="hidden" name="cid" value="{$cid}" />
                    <input type="hidden" name="pid" value="{$pid}" />
                    <input type="hidden" name="id" value="{$id}" />
                </div>
            </div>
        </div>
    </form>
</div>