/**all-programs.wxss**/
body {
  margin: 0;
  overflow-x: hidden;
  background: #f1f1f1;
}

.header {
  width: 100%;
  position: fixed;
  background: linear-gradient(30deg, rgba(12, 198, 152, 1), rgba(0, 121, 212, 1));
  top: 0;
  left: 0;
  z-index: 10;
}

.header .search-box {
  height: 1.8125rem;
  position: relative;
  padding: .46875rem .5rem;
  width: calc(100% - 1rem);
}

.header .search-box input {
  position: absolute;
  height: 1.75rem;
  background: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  border-radius: 50px;
  width: calc(100% - 1rem);
  text-align: center;
  border: none;
}

.header .search-box .search-placeholder {
  position: relative;
  color: #b2b2b2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  height: 100%;
  font-size: .8125rem;
}

.header .search-box .search-placeholder img {
  margin-right: .3125rem;
  height: .78125rem;
  width: .78125rem;
}

/*说明  */
.title-box {
  height: 2.75rem;
  margin-top: 2.71875rem;
  background: #fff;
  text-align: center;
  line-height: 2.75rem;
  color: #333333;
  font-size: 1.125rem;
  display:block;
}
.category-list {
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem;
}
.category-list .category-one {
  height: 3.75rem;
  display:flex;
  align-items:center;
  position: relative;
  border-radius:10px;
  padding: 0 1.03125rem;
  margin: 0 .9375rem  .9375rem .9375rem;
}

.category-list .category-one .title-name {
  font-size: 1.3125rem;
  color: #fff;
}
.category-list .category-one .number-box {
  font-size: .875rem;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.03125rem;
}
.category-list .category-one .category-image {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: .84375rem;
}

.bg-0 {
  background:linear-gradient(30deg,rgba(41,155,220,1),rgba(9,186,230,1));
}
.bg-1 {
background:linear-gradient(30deg,rgba(0,187,165,1),rgba(7,215,159,1));
}
.bg-2 {
background:linear-gradient(30deg,rgba(255,111,100,1),rgba(255,151,66,1));
}
.bg-3 {
background:linear-gradient(30deg,rgba(134,115,232,1),rgba(177,138,255,1));
}
.bg-4 {
background:linear-gradient(30deg,rgba(212,144,63,1),rgba(242,172,103,1));
}