body {
    margin: 0;
    overflow-x: hidden;
    background: #f7f7f7;
  }
a {
    text-decoration: none;
    width: 100%;
  }
  
  .tab-box {
    height: 3.125rem;
    background: #fff;
    display: flex;
    margin-bottom: .9375rem;
    align-items: center;
    justify-content: center;
  }
  .tab-box label {
    width: 100%;
    font-size: .9375rem;
    color: #454346;
    height: 3.125rem;
    /* line-height: 3.125rem; */
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .tab-box label span {
    position: relative;
  }
  .tab-box label span img {
    height: .625rem;
    width: .625rem;
    position: absolute;
    right: -.625rem;
    top: 0;
  }
  .select-c {
    color: #23E29D !important;
  }
  .select-c::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #23E29D !important;
    width: 1.5625rem;
    height: 2px;
  }

  .search-coupon {
    height: 3.4375rem;
    padding: 0 .9375rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .625rem;
    /* position: absolute; */
    /* top: 1.25rem; */
    /* z-index: 10;
    left: 50%;
    transform: translateX(-50%); */
    /* width: calc(100% - 1.875rem); */
}

 .search-coupon input {
    position: absolute;
    height: 2.1875rem;
    background: #F7F7F7;
    left: .9375rem;
    border: 0;
    outline: none;
    width: 14.6875rem;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 50px;
    /* width: calc(100% - 1.875rem); */
    text-align: center;
}

.search-coupon .search-placeholder {
    position: relative;
    color: #b2b2b2;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    width: 14.6875rem;
    height: 2.1875rem;
    font-size: .75rem;
}

.search-coupon .search-placeholder img {
    margin-right: .3125rem;
    height: .75rem;
    width: .75rem;
}
.search-coupon .box-right {
  height: 2.1875rem;
  width: 5.125rem;
  border-radius: 20px;
  color: #fff;
  line-height: 2.1875rem;
  text-align: center;
  font-size: .9375rem;
  background:linear-gradient(94deg,rgba(255,169,136,1) 0%,rgba(255,131,83,1) 100%);
}
.coupon-one {
  height: 7.5rem;
  margin: .9375rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.left-box {
  display: flex;
  flex-direction: column;
}
.left-box .left-top_box {
  padding: 1.25rem 2.5rem 0 2.5rem;
  display: flex;
  width: calc(100% - .75rem);
  justify-content: space-between;
  align-items: center;
}
.left-box .left-top_box .name-box {
  color: #FFFFFF;
  font-size: 1.1875rem;
  /* margin-right: 3.625rem; */
}
.left-box .left-top_box .price-box {
  color: #FFFFFF;
  font-size: .9375rem;
  display: flex;
  align-items: flex-start;
}
.left-box .left-top_box .price-box .price-num {
  color: #FFFFFF;
  font-size: 1.875rem;
}
.left-box .left-bottom_box {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  color: #B1B1B3;
  font-size: .75rem;
  padding-left: 1.25rem;
}
.left-box .left-bottom_box img {
  height: .75rem;
  width: .75rem;
  margin-right: .3125rem;
}
.no-use {
  color: #FA8D4A;
}
.expired {
  color: #B1B1B3;
}
.right-box {
  /* margin: 0 auto;
  width: 20px;
  line-height: 24px;
  display: flex;
  align-items: center; */
  width: 20px;
  line-height: 24px;
  position: absolute;
  right: 4%;
  display: flex;
  height: 100%;
  align-items: center;
}
.already-use {
  color: #23E29D;
}
.no-use_bg {
  background: url('../../images/no-use-coupon-bg.png') no-repeat;
  background-size: 100% 100%;
}
.already-use_bg {
  background: url('../../images/already-use-coupon-bg.png') no-repeat;
  background-size: 100% 100%;
}
.expired-bg {
  background: url('../../images/expired-coupon-bg.png') no-repeat;
  background-size: 100% 100%;

}

.go-see_btn{
  height: 3.0625rem;
  background: #4AA9EF;
  display: flex;
  margin: 0 1.25rem 6rem 1.25rem;
  align-items: center;
  border-radius:24px;
  justify-content: space-between;
  padding: 0 .9375rem 0 2.8125rem;
  white-space: nowrap;
  color: #FFFFFF;
  /* font-size: 1.125rem; */
}
.go-see_btn img {
  height: 1.875rem;
  width: 1.875rem;
  /* margin-left: 1.875rem; */
}