/* .header-box {
  height: 102rpx;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width:calc(100% - 40rpx);
  background: linear-gradient(190deg, rgba(12, 198, 152, 1), rgba(0, 121, 212, 1));
  align-items: flex-end;
  padding: 0 20rpx;
  padding-bottom: 26rpx;
}

.header-box .back-btn {
  display: flex;
  position: absolute;
  bottom: 26rpx;
  left: 20rpx;
  align-items: center;
  color: #fff;
  font-size: 32rpx;
}

.header-box .title {
  display: block;
  text-align: center;
  color: #fff;
  width: 100%;
  font-size: 36rpx;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
}

.header-box .back-btn .back {
  font-size: 32rpx;
  color: #fff;
}

.header-box .back-btn image {
  width: 20rpx;
  height: 35rpx;
  margin-right: 15rpx;
  font-size: 32rpx;
  color: #fff;
}

.header-box .back-btn image {
  width: 20rpx;
  height: 35rpx;
  margin-right: 15rpx;
} */
body {
  margin: 0;
  overflow-x: hidden;
  background: #f1f1f1;
}
.title-box {
  border-bottom: 1px solid #d3d5db;
  height: 2.75rem;
  margin-top: 4rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 1.125rem;
}

.result-box {
  background: #fff;
  height: calc(100% - 7.375rem);
  display: flex;
  flex-direction: column;
  margin-top: .625rem;
  padding: 1.25rem 1rem;
  align-items:center;
  position:fixed;
  width:calc(100% - 2rem);

}

.result-box .total-fraction {
  font-size: 2.25rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #e51c23;
  margin-bottom: .71875rem;
}

.result-box .tip-box {
  color: #333;
  font-size: 1rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  margin-bottom: 2.53125rem;
}

.result-box .result-list {
  display: flex;
  width:100%;
}

.result-box .result-list  .each-question_fraction {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  align-items:center;
  color: #333;
  font-size: 1rem;
  margin-bottom: 1.125rem;
}

.result-box  .result-list   .each-question_fraction img {
  margin-right: .46875rem;
  height: 1.25rem;
  width: 1.25rem;
}
